body{
    background-color: #FAFAFA;
    color: #686677;
    font-family: Circular, sans-serif, Arial;
}

.Global-Background{
    align-items: center;
    min-width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.Global-Content{
	width: 100%;
    max-width: 1152px;

    margin: 0 auto;
}
.Global-Title{
    font-family: Verdana;
    font-size: 32px;
    font-weight: bold;
    color:#1b1b1b;
}
.Global-Text-Description{

    color: #686677;
    font-size: 20px;
}
