.HUD_Html-Content{

    width: 100%;
    height: 100%;
    user-select: none;
    
    overflow: hidden;
   
    position: absolute;
}
.HUD_Html-ViewItem{
    display: flex;
    width: 100%;
    height: 100%;

    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.HUD_Html-ViewItem--Arrow{

    display: flex;
    justify-content: space-between;
}
.HUD_Html-Subtitle{

    position: absolute;
    width: 90%;
    font-size: 34px;

    color: #fff;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;

    left: 50%;
    margin-left: -45%;
    bottom: 0px;

    text-align: center;
}
.HUD_Html-Subtitle p{
    margin-bottom: 1em;
    margin-right: 0px;
    padding: 0px;
    text-decoration: none;
}

@media only screen and (min-width: 1160px){

    .HUD_Html-Subtitle{

        width: 40%;
        margin-left: -20%;

    }
}