.AboutMe-Content{
    
    position: relative;
}

.AboutMe-Title{
    text-align: left;
}

.AboutMe-SubContent{
    display: flex;
    justify-content: left;
}
.AboutMe-Description{
    width: 540px;   

    text-align: left;
    
}
.AboutMe-Description p {
    line-height: 1.3em;
}

.AboutMe-Image-Div{
    display: flex;
    justify-content: left;
}
.AboutMe-Image{
    position: absolute;
    width: 393px;

    clip-path: polygon(4% 0, 100% 0%, 100% 100%, 0 100%);

    object-fit: cover;
    top: 0px;
}
.AboutMe-Image img{
    height: 310px;
    min-width: 540px;
    display: flex;
    justify-content: left;
}
.AboutMe-ImageShrink{
    flex-shrink: 1;
    flex: 1 1;
}
@media only screen and (max-width: 1160px){
    .AboutMe-Title{
        text-align: center;
    }
    .AboutMe-SubContent{
        justify-content: center;
        flex-flow: row wrap;
    }
    .AboutMe-Description{   
        text-align: center;
    }
    
    .AboutMe-Image{
        position: relative;
        margin-top: 1em;
        
        clip-path: unset;
    }
}

@media only screen and (max-width: 500px){
    .AboutMe-Title{
        width: 400px;
    }
    .AboutMe-Description{   
        width: 400px;
    }
    .AboutMe-Image{
        width: 100%;
    }
}
