.AboutMe-Content{
    
    position: relative;
}

.AboutMe-Title{
    text-align: left;
}

.AboutMe-SubContent{
    display: flex;
    justify-content: left;
}
.AboutMe-Description{
    width: 540px;   

    text-align: left;
    
}
.AboutMe-Description p {
    line-height: 1.3em;
}

.AboutMe-Image-Div{
    display: flex;
    justify-content: left;
}
.AboutMe-Image{
    position: absolute;
    height: 100%;
    width: 540px;

    object-fit: cover;
    top: 0px;
}
.AboutMe-Image img{
    height: 100%;
    min-width: 100%;
    display: flex;
    justify-content: left;
}
@media only screen and (max-width: 1160px){
    .AboutMe-Title{
        text-align: center;
    }
    .AboutMe-SubContent{
        justify-content: center;
        flex-flow: row wrap;
    }
    .AboutMe-Description{
        text-align: center;
    }
    
    .AboutMe-Image{
        position: relative;
        margin-top: 1em;
    }
}

.AboutMe-ImageShrink{
    flex-shrink: 1;
    flex: 1 1;
}
