.AboutMe-Content{
	background-color:  #DEDEE1;
}

.AboutMe-Title{
    text-align: left;
}

.AboutMe-SubContent{
    display: flex;
    justify-content: left;
}
.AboutMe-Description{
    height: 300px;
    width: 540px;   

    text-align: left;
    
}
.AboutMe-Description p {
    line-height: 1.3em;
}

.AboutMe-Image{
    height: 300px;
    width: 540px;
    
    vertical-align: auto;
}
.AboutMe-Image img{
    height: 100%;
    min-width: 100%;
    display: flex;
    justify-content: left;
}
@media only screen and (max-width: 1160px){
    .AboutMe-Title{
        text-align: center;
    }
    .AboutMe-SubContent{
        justify-content: center;
        flex-flow: row wrap;
    }
    .AboutMe-Description{
        text-align: center;
    }
    .AboutMe-Image{
        margin-left: 0px;
    }
}
