.MySkills-Title{
    text-align: left;
}

.MySkills-SubContent{
    display: flex;
    justify-content: left;
}
.MySkills-Description{
    height: 300px;
    width: 540px;
    
    text-align: left;
    vertical-align: top;
}
.MySkills-Description p {
    line-height: 1.3em;
}

.MySkills-Skills{
    height: 400px;
    width: 540px;

    vertical-align: auto;
}

.MySkills-Skills ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.MySkills-Skills li{
    list-style: none; 
    display: flex;
    font-size: 18px;
    align-items: center;
    padding: .5em;
    margin: .5em;
    background: #222;
    color: #fff;
    letter-spacing: 1px;    
}

.MySkills-Skills img{
    margin-right: 5px;
}