.MySkills-Content{
    background-color: #020202;
    
}
.MySkills-Title{
    text-align: left;
    color: #fff;
}

.MySkills-SubContent{
    display: flex;
    justify-content: left;

    
}
.MySkills-Description{
    width: 540px;
    
    text-align: left;
    vertical-align: top;

    color: #fff;
}
.MySkills-Description p {
    line-height: 1.3em;
}

.MySkills-Skills{
    width: 540px;

    vertical-align: auto;
}

.MySkills-Skills ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;

    padding: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.MySkills-Skills li{

    user-select: none;
    list-style: none; 
    display: flex;
    font-size: 18px;
    align-items: center;
    padding: .5em;
    margin: .5em;
    background: #222;
    color: #fff;
    letter-spacing: 1px;    
}

.MySkills-Skills p{

    margin-right: 5px;  
}
.MySkills-Skills li:hover{
    cursor: pointer;
}
.MySkills-Skills img{
    margin-right: 5px;
}

.MySkills-Skills--Icon{
    width: 32px;
    height: 32px;

    fill:white;
    margin-right: 7px;
}

@media only screen and (max-width: 1160px){

    .MySkills-Title{
        text-align: center;
    }
    .MySkills-SubContent{
        flex-flow: row wrap;
        justify-content: center;
    }
    .MySkills-Description {
        text-align: center;
    }
    .MySkills-Description p{
        margin-right: 0;
    }
    .MySkills-Skills{
        text-align: center;
    }
    .MySkills-Skills ul{
        justify-content: center;
    }
}