.MyProjects-Content{
    background-color:  #DEDEE1;
}
.MyProjects-Content{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.MyProjects-Title{
    text-align: left;
}
.MyProjects-SubContent{
    display: flex;
    justify-content: left;
}
.MyProjects-Description{
    height: 300px;
    width: 600px;
    
    text-align: left;
    vertical-align: top;
    border: 3px solid black;
}

.MyProjects-Image{
    height: 400px;
    width: 400px;

    border: 3px solid black;
    vertical-align: auto;
}