.Project-Content{
    width: 512px;
    height: 288px;
}
.Project-Content-First{
    padding: 0px;
}
.Project-Content-Last{
    margin-bottom: 32px;
}

.Project-Content:nth-of-type(2n){
    margin-top: 6em;
}


.Project-Picture{
    cursor: pointer;
    width: 512px;
    height: 288px;


    
    background-color: black;
    overflow: hidden;
}
.Project-Picture img{
    transform: scale(1);   
}

.Project-Picture--Static{
    position: absolute;
    width: 512px;
    height: 288px;
    z-index: 1;

    transition: width 0.5s, height 0.5s;
}
.Project-Picture--Static:hover{
    opacity: 0;
}
.Project-Picture--Active{

    
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100%;

    margin: auto;
    text-align: center;
}
.Project-Video{

    transition: width 0.5s, height 0.5s;
    height: 100%;
    width: 100%;
        
    margin: auto;
    text-align: center;
}

.Project-Picture--TextLabel{
    
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

@media only screen and (max-width: 1140px){

    .Project-Content{
        margin-top: 6em;
    }
    .Project-Content-First{
        margin-top: 0em;
    }
    
}

@media only screen and (max-width: 512px){

    .Project-Content{
        height: 216px;
        width: 384px;
    }
    .Project-Picture{
        height: 216px;
        width: 384px;
    }   
    .Project-Picture--Static{
        height: 216px;
        width: 384px;
    }
}

@media only screen and (max-width: 384px){
    .Project-Content{
        height: 144px;
        width: 256px;
    }
    .Project-Picture{
        height: 144px;
        width: 256px;
    }   
    .Project-Picture--Static{
        height: 144px;
        width: 256px;
    }
}